body {
    font-family: 'Arimo', sans-serif;
}

h1 {
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

.tabs {
    border-bottom: solid #fff 1px;
}

.tabs a {
    font-weight: 700;
    color: #fff !important;
}

.intro {
    padding-left: 5%;
    padding-right: 5%;
}

.hero {
    background: #670DDB;
    padding: 5%;
}

.level {
    padding: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

#logoImg {
    height: 24vh;
}

.columns{
    padding-top: 1px;
}

.column {
    margin: 4.8px;
}

#publications {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #670DDB;
}

.publications {
    padding: 2%;
}

.publications h1 {
    color: #670DDB
}

.button {
    background: #670DDB;
    color: #fff;
}

input, textarea {
    font-size: 1.2em;
    width: 100%;
    border: solid 1px #aeaeae;
}

button {
    font-size: 1.2em;
    padding: 8px;
    background: #670DDB;
    color: #fff;
    border: none;
}